{
  "presets": [
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    ["transform-react-remove-prop-types", { mode: "unsafe-wrap" }],
    "transform-object-rest-spread",
    ["transform-class-properties", { "loose": true }]
  ]
}
